<div class="row">
  <!-- Line Chart - Single Series -->
  <div class="col-xs-6">
    <h3>Charts</h3>
    <% @place2year_price.each do |key, value| %>
      <%= key %><br>
      <%= line_chart value.each do |k, v|
        {:name => value, :data => [k, v]}
      end %>
    <% end %>


    <!-- debug -->
    <% line_chart @place2year_price.each do |key, value| %>
      <%{:name => value[0], :data => value[1]} %><br>
    <% end %>
  </div>
</div>
