<div class="row">
  <!-- Line Chart - Single Series -->
  <%= line_chart @place_year_price_per_sm.map{ |place, year_price|{
    name: place, data: year_price
    }
  }
  %>

    <!-- for debug -->
    <% @place_year_price_per_sm.each do |place, year_price| %>
    <% place %><br>
    <% year_price %><br>
    <% end %>
  </div>
</div>
